*{
   font-family: "Nunito", sans-serif;
}

.hero-section {
  background-image: url("/images/Untitled\ design\ \(4\).png");
  background-size: cover;
  background-position: center;
  /* padding-top: 120px; */
  color: white;
  position: relative;
}

.social-icons a {
  font-size: 30px;
  color: white;
  margin-right: 15px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00d9ff;
}

.hero-profile-img {
  max-width: 350px;
  border-radius: 10px;
}

.skill-img {
  width: 60px;       /* Make the images small */
  height: auto;
  margin: 10px auto;
  display: block;    /* Center image */
}

@media (min-width: 768px) {
  .skill-img {
    width: 70px;     /* Slightly bigger on large screens */
  }
}